<section class="jumbotron">
  <h1>Application Ctrl</h1>
  <p class="lead">Created by us for you. Enjoy it!</p>
  <p>
    <%= link_to 'Get started today', App, class: 'btn btn-large btn-success' %>
  </p>
</section>
